@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Nunito, sans-serif;
}

 




.container-questionarioProf1 {
  min-height: 100vh;
  padding: 15px;
  background: url("https://thumbs.dreamstime.com/b/vector-school-pattern-seamless-background-illustration-114473930.jpg");
}

.sidebarProf1 {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  padding-right: 100px;
  padding-left: 100px;

  
}
.sidebar__topProf1 > img {
  margin-bottom: -20px;
  margin-top: 5px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  
}

.sidebar__topProf1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 10px;
  background: -webkit-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: -o-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: -moz-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  border: 3px solid black ;
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  padding-bottom: 10px;
  padding-top: -20px;
}


.wrap-questionarioProf1{
  max-width:  700px;
  margin:0 auto;
  height: max-content;
  border-radius: 50px;
  z-index: 999;
  margin-top: 20px ;
  border: 3px solid black ;
  padding: 15px 55px 0px 55px;
  background: -webkit-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: -o-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: -moz-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
}

.bodyCadastrarConteudo {
  background: url("https://thumbs.dreamstime.com/b/vector-school-pattern-seamless-background-illustration-114473930.jpg");


  flex-wrap: wrap;
  justify-content: center;
  background-size: 100%;
 
}


.body__mainCadastrarConteudo {
  display: flex;

  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}


.container-questionario-form-btnProf1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}


.questionario-form-btnProf1 {
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  border: 3px solid black ;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  padding: 20px;
  background: -webkit-linear-gradient(to left, rgb(207, 205, 205), rgba(255, 255, 255, 0.18));
  background: -o-linear-gradient(to left, rgb(207, 205, 205),  rgba(255, 255, 255, 0.18));
  background: -moz-linear-gradient(to left, rgb(207, 205, 205),  rgba(255, 255, 255, 0.18));
  background: linear-gradient(to left, rgb(50, 50, 50),  rgba(255, 255, 255, 0.18));
  }

  .questionario-form-btnProf1:hover {
    color: white;
    cursor: pointer;
    border-width: 2px;
    border-color: white;
  }

.questionario-tituloProf1 {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 25px;
  color: azure;
  line-height: 1.2;
  margin-top: 13px;
  text-align: center;
}

.questionario-form-titleProf1{
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 15px;
  color: azure;
  line-height: 1.2;
  margin-top: 13px;
 
}



.questionario-form-titleProf1-select {
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  padding: 14px;
  border: 2px solid black;
  background: -webkit-linear-gradient(to left, rgb(207, 205, 205), rgba(255, 255, 255, 0.18));
  background: -o-linear-gradient(to left, rgb(207, 205, 205),  rgba(255, 255, 255, 0.18));
  background: -moz-linear-gradient(to left, rgb(207, 205, 205),  rgba(255, 255, 255, 0.18));
  background: linear-gradient(to left, rgb(50, 50, 50),  rgba(255, 255, 255, 0.18));
}
.questionario-form-titleProf1-select:hover {
  color: white;
  cursor: pointer;
  border-width: 2px;
  border-color: white;
}



.questionario-form-titleProf1-select option {
  height: 30px;
  cursor: pointer;
  padding-left: 17px;
  padding-top: 12px;
  background:rgb(84, 82, 82);
}

.wrap-input-textarea {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-top: 70px;
  margin-bottom: 50px;
}

textarea {
    color: WHITE;
    font-weight: bold;
    background: -webkit-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
    background: -o-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
    background: -moz-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
    background: linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
    border: 5px solid white;
    overflow: hidden;
}

.Questionario-label{

color:#adadad

}

.check-form{
  padding-bottom: 30px;
}

.headerProf1 {
  width: 100%;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 998;
  justify-content: flex-end;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-right: 100px;

  background: -webkit-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: -o-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: -moz-linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));
  background: linear-gradient(to left, rgb(1, 0, 0,0.95), rgb(31, 28, 52,0.95));

}

.header__right {
  display: flex;
  float:right;
}

.headerOptionProf1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.headerOptionProf1:hover {
  color: white;
}

.headerOptionProf1 h3 {
  font-size: 15px;
  margin-top: 5px;

}

.headerOptionProf1__icon {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}







